/* accordion config  */
.accordion-button::after {
  display: none;
}
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.accordion-item {
  border: none !important;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #ffff;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #505050;
}
[type="button"]:not(:disabled) {
  box-shadow: none;
}
.accordion-header {
  margin: 0;
  cursor: pointer;
}
.tulip-pop {
  position: relative;
  color: #1f335e;
}
.accordion-body {
  border-top: 1px solid #a2a2a2;
}
