/* accordion config  */
.accordion-button::after {
  display: none;
}
.accordion-button:not(.collapsed)::after {
  display: none;
}
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #ffff;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #505050;
}
[type="button"]:not(:disabled) {
  box-shadow: none;
}
