/*--- btn underline animation ---*/
.caps-btn .caps-btn::after {
  top: 65%;
  height: 2px;
  width: 0%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.5s ease all 0.3s;
}

.caps-btn:hover .caps-btn::after {
  width: 90%;
  transition: 0.3s ease all;
}
.caps-btn {
  position: relative;
}
.caps-btn:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.test {
  width: fit-content;
  margin: 1em;
}
.test:hover {
  box-shadow: 0 2px #404040;
  transition: all 0.3s ease-in-out;
}

.link-background {
  background: #2c3e50;
  padding: 2rem 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
a.left {
  color: #fff;
  position: relative;
  margin: 3rem;
  text-decoration: none;
}

a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
