.blue-btn,
.transparent-btn,
.drop-down-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #1f335e;
  background-color: transparent;
  min-width: 145px;
  height: 40px;
  padding: 0.75em;
  border-radius: 10px;
  cursor: pointer;
  border-color: #1f335e;
  border-style: solid;
  line-height: normal;
  transition: all 0.3s ease-in-out;
}

.blue-btn a {
  color: #1f335e !important;
}
.blue-btn:hover {
  box-shadow: inset 0 3.25em 0 0 #1f335e;
  background-color: rgb(31, 51, 94, 0.9);
  color: white;
}

.transparent-btn {
  color: #1f335e;
  background-color: transparent;
  border: 1px solid #1f335e;
  transition: all 0.3s ease-in-out;
}
.transparent-btn:hover {
  color: #3882cd;
  border: 1px solid #3882cd;
}

.drop-down-btn {
  color: #1f335e;
  background-color: #f0f1f4;
  border: 0;
  width: 155px;
  transition: all 0.3s ease-in-out;
}
.caps-btn,
.caps-btn-no-underline {
  position: relative;
  font-size: 12px;
  color: #404040;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 2px #404040;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.mp-row-button {
  position: relative;
  color: #000;
  font-weight: bold;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.caps-btn-icon {
  color: #404040;
}
.caps-btn::before {
  /* content: attr(value); */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  color: #3882cd;
  box-shadow: 0 2px #3882cd;
  transition: all 0.3s ease-in-out;

  background-image: linear-gradient(45deg, #3882cd, #3882cd);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.caps-btn-icon:hover,
.caps-btn:hover .caps-btn-icon,
.caps-btn:hover,
.caps-btn-no-underline:hover {
  color: #3882cd;
}
.caps-btn:hover::before {
  width: 100%;
}
.row-btn {
  padding: 1.5em 1em;
  transition: all 0.3s ease-in-out;
}
.row-btn .caps-btn {
  box-shadow: none;
  color: inherit;
}
.row-btn:hover .caps-btn::before {
  width: 0 !important;
}
.row-btn:hover {
  padding: 1.5em 0.5em 1.5em 1.5em;
}

.label {
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  width: fit-content;
  border-radius: 2px;
  padding: 0.5em 1em;
}
.banner-transparent-btn {
  display: flex;
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  width: fit-content;
  border-radius: 5px;
  padding: 0.5em 2em;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
}
.first-letter-capital:first-letter {
  text-transform: capitalize;
}
.banner-transparent-btn:hover {
  color: #1f335e !important;
  box-shadow: inset 0 3.25em 0 0 #fff;
  background-color: rgb(31, 51, 94, 0.9);
}
.banner-transparent-btn:hover .MuiSvgIcon-root {
  fill: #1f335e !important;
}
.title-animation,
.title-link-animation {
  position: relative;
  cursor: pointer;
}
.title-link-animation {
  width: fit-content;
}
.title-animation::before,
.title-link-animation::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transition: height 0.45s ease-in-out;

  background-image: linear-gradient(45deg, #3882cd, #3882cd);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.title-link-animation::before {
  height: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 -2px #3882cd !important;
  padding-bottom: 0;
}

.title-animation:hover,
.title-link-animation:hover {
  color: #3882cd;
}
.title-link-animation:hover::before {
  width: 100%;
}
