@font-face {
  font-family: "roboto";
  src: url("../config/fonts/Roboto-Regular.ttf");
}

/* home-banner-carousel Carousel styling */
.home-banner-carousel .carousel-indicators {
  /* bottom indicators */
  justify-content: flex-start;
  margin-left: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5em;
  height: 3.5em;
}
.news-carousel .carousel-control-prev-icon,
.news-carousel .carousel-control-next-icon {
  background-image: none;
}
.carousel-control-prev,
.carousel-control-next {
  margin: 2em;
}
.home-banner-carousel .carousel-indicators [data-bs-target],
.news-carousel .carousel-indicators [data-bs-target] {
  background-color: #3580cd;
}
.news-carousel .carousel-indicators {
  /* bottom indicators */
  justify-content: center;
}

/* quotation-carousel Carousel styling */
.quotation-carousel .carousel-indicators [data-bs-target] {
  background-color: #a2a2a2;
}

.BAD-banner {
  font-family: roboto, sans-serif;
}

.home-banner .btn-outline-light:hover,
.home-banner-carousel button:hover .MuiSvgIcon-fontSizeMedium {
  color: rgba(31, 51, 94, 1) !important;
}

.home-banner-carousel .carousel-control-prev-icon,
.home-banner-carousel .carousel-control-next-icon {
  display: none;
}

.home-banner-carousel .carousel-indicators {
  width: 1350px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
  padding-left: 100px;
}
