/* home-banner-carousel Carousel styling */
.home-banner-carousel .carousel-indicators {
  /* bottom indicators */
  justify-content: flex-start;
  margin-left: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5em;
  height: 3.5em;
}
.news-carousel .carousel-control-prev-icon,
.news-carousel .carousel-control-next-icon {
  background-image: none;
}
.news-carousel .carousel-control-prev {
  left: -172px;
}
.news-carousel .carousel-control-next {
  right: -172px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  z-index: 2; /* caption should be on top of the image */
}

/* add media querys for home carousel controls on large screens */
@media (min-width: 1568px) {
  .home-banner-carousel .carousel-control-next,
  .home-banner-carousel .carousel-control-prev {
    min-width: 15% !important;
  }
}

@media (min-width: 1768px) {
  .home-banner-carousel .carousel-control-prev {
    left: 5%;
    translate: translateX(50%);
  }
  .home-banner-carousel .carousel-control-next {
    right: 5%;
    translate: translateX(-50%);
  }
  .home-banner-carousel .carousel-control-next,
  .home-banner-carousel .carousel-control-prev {
    min-width: 25% !important;
  }
}

@media (min-width: 2868px) {
  .home-banner-carousel .carousel-control-prev {
    left: 15%;
  }
  .home-banner-carousel .carousel-control-next {
    right: 15%;
  }
}

.home-banner-carousel .carousel-control-prev {
  /* left: calc(50% - 800px); */
  min-width: 150px;
}
.home-banner-carousel .carousel-control-next {
  min-width: 150px;
}
.home-banner-carousel .carousel-indicators [data-bs-target],
.news-carousel .carousel-indicators [data-bs-target] {
  background-color: #3580cd;
}
.news-carousel .carousel-indicators {
  /* bottom indicators */
  justify-content: center;
}
.home-banner .btn-outline-light:hover,
.home-banner-carousel button:hover .MuiSvgIcon-root .MuiSvgIcon-fontSizeMedium {
  color: rgba(31, 51, 94, 1) !important;
}

.home-banner-carousel .carousel-control-prev-icon,
.home-banner-carousel .carousel-control-next-icon {
  display: none;
}

.home-banner-carousel .carousel-indicators {
  width: 1350px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
  padding-left: 150px;
}

.home-banner-carousel-mobile .carousel-indicators {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
  justify-content: center;
}

/* quotation-carousel Carousel styling */
.quotation-carousel .carousel-indicators [data-bs-target] {
  background-color: #a2a2a2;
}
.quotation-carousel .carousel-control-prev-icon,
.quotation-carousel .carousel-control-next-icon {
  display: none;
}

.carousel:hover a,
.carousel:hover a {
  box-shadow: none;
}

/* gallery-carousel Carousel styling */
.event-carousel .carousel-control-prev-icon,
.event-carousel .carousel-control-next-icon {
  display: none;
}
