/**

  tooltip html example
   <span
      className="popup"
      citations="Description..."
    >
      Anna IT Solutions
    </span>

    table html example
    <div class='table-container'>
      <table>
        <tr>
          <th>Country</th>
        </tr>
        <tr>
          <td>Germany</td>
        </tr>
      </table>
    </div>
 */

.popup {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.25s ease-in-out;
}
.popup:hover {
  color: #069;
}
/*the tip*/
.popup:before {
  content: attr(citations);
  font-size: 14px;
  position: absolute;
  background: #ced4da;
  line-height: 1.2em;
  padding: 0.5em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  min-width: 200px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.popup:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.popup:hover:before,
.popup:hover:after {
  visibility: visible;
  opacity: 1;
}
/*top*/
.popup.tip-top:before {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.popup.tip-top:after {
  border-width: 8px 8px 0 8px;
  border-color: #ced4da transparent transparent transparent;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*bottom*/
.popup.tip-bottom:before {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
  box-sizing: border-box;
  border-radius: 3px;
}
.popup.tip-bottom:after {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent rgba(10, 20, 30, 0.85) transparent;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0);
}
/*left*/
.popup.tip-left:before {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.popup.tip-left:after {
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent rgba(10, 20, 30, 0.85);
  left: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
/*right*/
.popup:before {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
  box-sizing: border-box;
  border-radius: 3px;
}
.popup:after {
  border-width: 8px 8px 8px 0;
  border-color: transparent #ced4da transparent transparent;
  right: -8px;
  top: 50%;
  transform: translate(0, -50%);
}
.dropdown-basic .dropdown-toggle:after {
  margin-left: 1.25em;
  margin-top: 0.25em;
}
.dropdown-basic .dropdown-menu.show {
  border-radius: 15px;
  border-top-right-radius: 0px;
  background-color: #f0f1f4;
  border: none;
  transform: translate(-0.125px, 58px) !important;
}

/* pil config  */
.pil-title:hover {
  color: #090910;
}

/* h tags */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: bold; /* or 700 */
  line-height: 1.2;
  color: #000;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

.text-body h1,
.text-body h2,
.text-body h3,
.text-body h4,
.text-body h5,
.text-body h6 {
  margin: 0.75em 0;
}
.text-body p {
  margin: 0.5em 0;
}
.title-no-bottom-margin h1,
.title-no-bottom-margin h2,
.title-no-bottom-margin h3,
.title-no-bottom-margin h4,
.title-no-bottom-margin h5,
.title-no-bottom-margin h6 {
  margin-bottom: 0 !important;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

li {
  margin-left: 2em;
}

/* Table  */
.table-container table {
  border-collapse: collapse;
  width: 100%;
}
.table-container td,
.table-container th {
  border: 1px solid #a2a2a2;
  text-align: center;
  padding: 8px;
}
