.css-1wy0on6 {
  display: none !important;
}
.css-yk16xz-control {
  border-radius: 10px !important;
}
.search-input .input-group-text:hover .MuiSvgIcon-root,
.search-input .search-clear-icon:hover .MuiSvgIcon-root {
  fill: #454545 !important;
}
.event-search-title:hover {
  color: #454545;
}
.form-control {
  border-radius: 10px;
}
.css-2b097c-container {
  width: 100%;
}
.css-1hwfws3 {
  display: flex;
  align-items: center;
  height: 45px;
}
select:focus,
textarea:focus,
input:focus {
  outline: 0px !important;
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
.css-yk16xz-control input:focus {
  border: none !important;
}
select,
input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a2a2a2 !important;
}
select {
  border: 1px solid #ced4da !important;
  padding: 0.375rem 0.75rem;
}
