/* fetching fonts from url */
/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap"); */
@import url("../config/fonts/Lato-Regular.ttf");

body {
  font-family: "Lato", monospace;
  color: #505050;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a {
  display: block;
  margin: 6px 0;
  font-size: 1.2em;
  text-decoration: none;
}
/* main content container config */
.content-container {
  max-width: 1000px;
  margin: auto;
}

/* Custom classes */
.flex,
.flex-col,
.flex-row,
.flex-center-col,
.flex-center-row {
  display: flex;
  flex: 1;
}
.flex-center-col,
.flex-center-row {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-row,
.flex-center-row {
  flex-direction: row;
}
.flex-col,
.flex-center-col {
  flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
}
.col-reverse {
  flex-direction: column-reverse;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0 8px 8px -4px;
}

/* Carousel styling */
.carousel-indicators {
  /* bottom indicators */
  justify-content: flex-start;
  margin-left: 15%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3.5em;
  height: 3.5em;
}
.news-carousel .carousel-control-prev-icon,
.news-carousel .carousel-control-next-icon {
  background-image: none;
}

.news-carousel .carousel-indicators [data-bs-target] {
  background-color: #3580cd;
}
.news-carousel .carousel-indicators {
  /* bottom indicators */
  justify-content: center;
}

/* accordion config  */
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.8) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.accordion-button,
.accordion-button:not(.collapsed) {
  background-color: #ffff;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: #505050;
}
.underline {
  border-bottom: 2px solid currentColor;
}
[type="button"]:not(:disabled) {
  box-shadow: none;
}
.accordion-header::after {
  display: flex;
  content: "";
  border-bottom: 2px solid currentColor;
  margin: 0 0.75em;
}

/* Test css */
.pink {
  background-color: pink;
}
.tom {
  background-color: tomato;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .lg {
    display: none;
  }
}
