/* fetching fonts from url */
/* @import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap"); */
@import url("../config/fonts/Lato-Regular.ttf");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
body {
  font-family: "Lato", monospace;
}
/* main content container config */
.content-container {
  max-width: 1000px;
  margin: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
a {
  display: block;
  text-decoration: none;
}

/* Custom classes */
.flex,
.flex-col,
.flex-row,
.flex-center-col,
.flex-center-row {
  display: flex;
  flex: 1;
}
.flex-center-col,
.flex-center-row {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-row,
.flex-center-row {
  flex-direction: row;
}
.flex-col,
.flex-center-col {
  flex-direction: column;
}
.row-reverse {
  flex-direction: row-reverse;
}
.col-reverse {
  flex-direction: column-reverse;
}
.pointer {
  cursor: pointer;
}
.shadow {
  box-shadow: 0 8px 8px -4px;
}
/* positioning of post block elements left*/
.test-block::after {
  content: "";
  flex: auto;
}

/* Test css */
.pink {
  background-color: pink;
}
.tom {
  background-color: tomato;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .lg {
    display: none;
  }
}
