@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap");

body {
  font-family: "Red Hat Mono", monospace;
}

a {
  display: block;
  margin: 6px 0;
  font-size: 1.2em;
  text-decoration: none;
}

.content-container {
  max-width: 1000px;
  margin: auto;
}

/* Cuttom classes */
.flex-col,
.flex-row {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

/* Carousel styling */
.carousel-indicators {
  justify-content: flex-start;
  margin-left: 0;
}

/* Test css */
.pink {
  background-color: pink;
}
.tom {
  background-color: tomato;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .main-container {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .lg {
    display: none;
  }
}
