/* navigation config */
/* add to drop down full width */
.BAD-menu .dropdown-menu {
  width: 100%;
  padding: 0;
  border: none;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  margin-top: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}
.navbar {
  padding: 0;
}
.navbar > .container {
  justify-content: flex-end;
  padding: 0;
  max-width: 1350px;
}
.main-menu-container .dropdown-toggle::after {
  display: none !important;
}
.bad-header a:hover {
  box-shadow: none;
}
/* quick link drop down config */
.dropdown-item.active,
.dropdown-item:active {
  color: #707070 !important;
  background-color: transparent !important;
  border-color: none !important;
}
.dropdown-item {
  white-space: normal;
}
.quick-link .dropdown-item {
  white-space: nowrap;
}
.quick-link .dropdown-menu {
  left: -152px !important;
  border-radius: 0.5em !important;
}
.quick-link li:hover .quick-link-title {
  color: #3882cd !important;
}
.quick-link:hover li {
  cursor: pointer;
}
.quick-link li:hover a {
  background-color: initial !important;
}

/* bootstrap css menu config */
.container-fluid a {
  color: #0000;
  font-size: 14px;
}
.main-menu-container .dropdown-toggle::after {
  display: none !important;
}
.secondary-menu-container .dropdown,
.main-menu-container .dropdown {
  position: static !important;
}
.secondary-menu-container .dropdown-item,
.main-menu-container .dropdown-item {
  padding: 0.5rem 0 !important;
}
.secondary-menu-container li,
.main-menu-container li {
  margin-left: 0 !important;
}
.child-menu a:hover {
  color: #3882cd !important;
  background-color: initial !important;
}
.child-menu a:hover .MuiSvgIcon-root {
  fill: #3882cd !important;
}
.container-fluid {
  padding: 0 !important;
}
.secondary-menu-container .dropdown-menu,
.main-menu-container .dropdown-menu {
  left: 0 !important;
  width: 100%;
  padding: 2em;
  min-height: 615px;
  background-color: rgb(240, 241, 244);
  box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem;
  border: none;
  overflow: hidden;
}
/* dashboard-menu */
.dashboard-menu {
  transition: all 0.3s ease-in-out;
}
.dashboard-menu:hover {
  cursor: pointer;
  color: #3882cd;
  text-decoration: none;
  box-shadow: inset 0 -2px #3882cd !important;
}

@media screen and (max-width: 576px) {
}
